* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-weight: 300;
    font-family: "Source Serif Pro", serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
